@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  height: 100%;
  background: #0b0b0f;
  color: #eaeaf4;
}

a { @apply underline underline-offset-4 decoration-brand-500 hover:text-white; }